@import '../../../styles/variables';

:host {
  position: relative;
}

.custom-select {
  @include body-l;
  color: $black;

  padding-right: 30px;
  box-shadow: none;

  &:focus {
    border-color: $main-purple;
  }
}

.down-arrow {
  position: absolute;
  top: 15px;
  right: 15px;
}