@import '../../../styles/variables';

:host {
  border-bottom: 2px solid $lines-light;

  display: flex;
  align-items: center;

  background-color: $white;
}

.logo {
  border-right: 2px solid $lines-light;
  height: 100%;

  display: flex;
  align-items: center;

  padding: 0 25px;

  cursor: pointer;

  &:hover {
    background-color: rgba($main-purple, 0.1);
  }
}

.title-section {
  flex-grow: 1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 25px 25px;
}

.last-section {
  display: flex;
  align-items: center;
  gap: 25px;

  .menu-ellipsis {
    position: relative;

    .pseudo-button {
      cursor: pointer;
    }

    .floating-card-list {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @include body-l;

      .delete-option {
        color: $red;
      }
    }
  }
}