@import '../../../styles/variables';

.columns-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.column-section {
  display: flex;
  align-items: center;

  input {
    flex-grow: 1;
  }

  button {
    padding: 0 10px;
  }
}

.add-new-column-section {
  button {
    width: 100%;
  }
}

.save-section {
  flex-grow: 1;
}

p {
  @include body-m;
}