@import '../../../../../styles/variables';

li {
  padding: 10px 0 10px 25px;

  @include heading-m;
  color: $medium-grey;

  .item-content {
    display: flex;
    gap: 10px;
  }

  &.active:not(.create-mode-item) {
    background-color: $main-purple;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    color: $white;
  }
}

li:hover:not(.create-mode-item) {
  background-color: rgba($main-purple, 0.1);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  color: $main-purple;
  cursor: pointer;
}

.create-mode-item {
  color: $main-purple;
  cursor: pointer;
}