:host {
  text-align: left;
  min-width: 280px;
  max-width: 280px;

  display: flex;
  flex-direction: column;
}

.status-container {
  margin-bottom: 20px;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  gap: 10px;

  .circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;

    background-color: red;
  }
}

.columns-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  flex-grow: 1;
}