@import '../../../../styles/variables';

:host {
  background-color: #EAEFF9;

  border-radius: 8px;

  padding: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

:host(.empty-column) {
  border: 1px dashed $main-purple;

  transition: background-color 0.1s ease-in, color 0.1s ease-in;

  &:hover {
    cursor: pointer;

    font-weight: bold;
    color: $main-purple;
    background-color: rgba($main-purple, 0.1);
  }
}