<h4>ALL BOARDS ({{boards().length}})</h4>
<ul class="board-list-content">
  @for (board of boards() | orderBy: 'id'; track $index) {
    <app-board-list-item [boardId]="board.id" [boardName]="board.name" />
  }
</ul>
<ul>
  <app-board-list-item boardName="+ Create New Board" [createMode]="true" (createNewBoard)="onCreateNewBoard(manageBoardModal)" />
</ul>

<!-- Modal template for managing the complete board -->
<ng-template #manageBoardModal let-manageBoardModal>
  <app-manage-board [isNew]="true" />
</ng-template>