@import '../../../styles/variables';

aside {
  border-right: 2px solid $lines-light;
  width: 300px;
  height: 100%;
  padding: 25px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navigation {
  flex-grow: 1;

  li {
    @include heading-m;
    color: $medium-grey;
  }

  .create-new-board-item {
    color: $main-purple;
  }
}