@import '../../styles/variables';

:host {
  height: 100%;

  display: flex;
  justify-content: start;
  align-items: start;

  padding: 30px;
  text-align: center;
}

h2 {
  color: $medium-grey;
}

.empty-board-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.board-content {
  display: flex;
  gap: 20px;
}