@import '../../../../styles/variables';

:host {
  display: block;
  background-color: $white;

  border-radius: 8px;

  padding: 25px 20px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &:hover {
    cursor: pointer;

    h3 {
      color: $main-purple;
    }
  }
}

h3 {
  margin-bottom: 7px;
}

p {
  @include body-m;
}