@import './styles/variables';

@font-face {
  font-family: 'PlusJakartaSans-Regular';
  src: url('/assets/fonts/PlusJakartaSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans-Medium';
  src: url('/assets/fonts/PlusJakartaSans-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans-Bold';
  src: url('/assets/fonts/PlusJakartaSans-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PlusJakartaSans-ExtraBold';
  src: url('/assets/fonts/PlusJakartaSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/***** CSS Reset *****/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html,
body {
  height: 100%;
  font-family: 'PlusJakartaSans-Regular', sans-serif;
  color: $medium-grey;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*********************/

h1 {
  @include heading-xl;
}

h2 {
  @include heading-l;
}

h3 {
  @include heading-m;
}

h4 {
  @include heading-s;
}